/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");

:root {
  --main-color: #3f3948;
  --second-color: #f6ebcf;
  --body-color: #e8edf5;
  --text-color: #989492;

  --main-font: "Poppins", sans-serif;
}

body {
  font-family: var(--main-font);
  max-height: 100%;
  background-image: url("/assets/image/bg-dashboard.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

section {
  margin: auto;
}

section .container {
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.container .dashboard-wrapper {
  display: flex;
  width: 1300px;
  height: 925px;
  margin: 50px auto;
  padding-right: 10px;
  border-radius: 15px;
  background-color: #fff;
}

.dashboard-wrapper .dashboard-left {
  width: 234px;
  height: 925px;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  padding: 20px;
}

.dashboard-left .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.dashboard-left .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 255px;
}

.menu .menu-link {
  width: 195px;
  height: 42px;
  background: #000000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  gap: 30px;
}

.menu-link i {
  color: #fff;
  text-align: center;
  line-height: 42px;
}

.menu-link p {
  color: #fff;
  text-align: center;
  line-height: 42px;
}

.dashboard-left .invitation {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.invitation img {
  position: absolute;
  margin: auto;
  width: 100%;
}

.invitation h4 {
  z-index: 1;
  margin: 80px auto 5px;
}
.invitation .desc {
  z-index: 1;
  margin: auto;
  text-align: center;
  color: #989492;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}
.invitation .btn-join {
  z-index: 1;
  margin: auto;
  width: 115px;
  height: 27px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.btn-join p {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 27px;
}

.dashboard-wrapper .dashboard-right {
  width: 1066px;
  height: 900px;
  margin: auto 0;
  background-color: var(--body-color);
  border-radius: 0px 15px 15px 0px;
}

.nav-wrapper .menu-profile {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  padding: 5px;
  /* height: 40px; */
}

.menu-name-profile .menu-name-profile-item {
  font-size: 14px;
  font-weight: 400;
}

.menu-name-profile-item .email {
  font-size: 10px;
  color: #3f3948;
}

.menu-item-profile .down-arrow {
  cursor: pointer;
}
