/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");

:root {
  --main-color: #3f3948;
  --second-color: #f6ebcf;
  --body-color: #e8edf5;
  --text-color: #989492;

  --main-font: "Poppins", sans-serif;
}

body {
  background-color: var(--body-color);
  font-family: var(--main-font);
  max-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

section {
  margin: auto;
}

.container {
  max-width: 1440px;
  margin: auto;
  margin-top: 50px;
}

/* .navbar {
  background-color: antiquewhite;
} */
.navbar .nav-wrapper {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.nav-wrapper .menu-toggle {
  display: none;
}
.nav-wrapper .menu-wrapper {
  display: flex;
  gap: 56rem;
  align-items: center;
}
.menu-wrapper .menu {
  display: flex;
  gap: 15px;
  align-items: center;
}
.menu-wrapper .menu-profile {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.menu-profile .menu-name-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu .menu-link {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}
.menu .menu-link.active {
  font-weight: 700;
  color: black;
}

.menu-name-profile .menu-profile-link {
  font-size: 12px;
  font-family: var(--main-font);
  font-weight: 500;
  color: black;
}

.menu-name-profile .menu-profile-link.email {
  font-size: 8px;
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--text-color);
}
.menu-item-profile .menu-link-profile {
  cursor: pointer;
}

/* practice start */

.container .practice-wrapper {
  background-color: #3f3948;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.practice-wrapper .practice-1,
.practice-wrapper .practice-2 {
  position: relative;
  width: 864px;
  height: 280px;
  margin: 71px auto;
}

.practice-1 img,
.practice-2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.practice-1 h1,
.practice-2 h1 {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding-left: 50%;
  padding-top: 2%;
}

.practice-1 p,
.practice-2 p {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  padding-left: 50%;
  padding-top: 2%;
  max-width: 90%;
}

.practice-1 .btn-start,
.practice-2 .btn-start {
  position: absolute;
  z-index: 99;
  width: 160px;
  height: 30px;
  background-color: #12190d;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  top: 77%;
  left: 77%;
  cursor: pointer;
}

/* end practice */
@media (max-width: 1370px) {
  .navbar .nav-wrapper {
    padding: 30px;
  }

  .nav-wrapper .menu-wrapper {
    gap: 43rem;
  }
}
@media (max-width: 991px) {
  .navbar .nav-wrapper {
    padding: 30px;
  }

  .nav-wrapper .menu-wrapper {
    gap: 26rem;
  }
}

@media (max-width: 575px) {
  .navbar .nav-wrapper {
    padding: 5px;
  }
  .nav-wrapper .menu-wrapper {
    position: absolute;
    top: 6%;
    /* top: -100%; */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: block;
    text-align: center;
    padding: 3 rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease-in-out;
    background-color: var(--body-color);
    z-index: 9999;
    border-radius: 15px;
  }
  .nav-wrapper .menu-wrapper.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.5s ease-in-out;
  }
  .nav-wrapper .menu-toggle {
    display: initial;
    font-size: 28px;
    cursor: pointer;
  }
  .menu-toggle.bx-x {
    transform: rotate(360deg);
    transition: 0.5s;
  }

  .nav-wrapper .menu-wrapper .menu {
    display: block;
    height: 200px;
    padding: 50px;
    border-radius: 10px;
  }
  .menu .menu-item {
    margin-bottom: 10px;
  }
  .menu .menu-link {
    font-size: 14px;
    font-weight: 600;
  }
  .menu-wrapper .menu-profile {
    display: none;
  }

  .practice-wrapper .practice-1,
  .practice-wrapper .practice-2 {
    width: 520px;
    margin: auto;
  }

  .practice-1 h1,
  .practice-2 h1 {
    font-size: 14px;
    padding-top: 11%;
  }

  .practice-1 p,
  .practice-2 p {
    font-size: 12px;
    padding-top: 2%;
    max-width: 100%;
  }

  .practice-1 .btn-start,
  .practice-2 .btn-start {
    width: 110px;
    font-size: 11px;
    top: 65%;
    left: 75%;
  }
}
